h1{
    padding-top: 50px;
    text-align: center !important;
}

.form-div-wrapper{
    width: 500px !important;
    margin-top: 50px;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: justify !important;
}

.document-div{
    margin-top: 25px !important;
}

.document-div > a {
    font-size: 1.1rem !important;
}

.document-div > div > input {
    margin-top: 5px !important;
    font-size: 1.1rem !important;
}



.button-div{
    margin-top: 25px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.btn-primary{
    font-size: 1.2rem !important;
}

